@charset "utf-8";

.visual {
  width: 2000px;
  /* position: relative;
  left: 50%;
  transform: translateX(-50%); */
  margin: 0 auto;
}
/* 컨텐츠영역 */
#content {
  width: 100%;
}

#content section .title {
  margin: 100px 0 50px 0;
}

#content section .title h3 {
  font-size: 3rem;
  /* margin: 100px 0 30px; */
  text-align: center;
}
#content section .title p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.4rem;
}

/* 비지니스 영역 */
#content .business {
  width: 1400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 5px;
}

#content .business .title {
  text-align: center;
}
#content .business .business_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  box-sizing: border-box;
}
#content .business .business_content li {
  position: relative;
  height: 600px;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 20px;
  padding: 60px 40px;
  overflow: hidden;
  box-sizing: border-box;
}
#content .business .business_content li:nth-child(1) {
  background: url(https://harimholdings.com/img/main/img_esg_01_1.png) no-repeat center / cover;
}
#content .business .business_content li:nth-child(2) {
  background: url(https://harimholdings.com/img/main/img_esg_01_2.png) no-repeat center / cover;
}
#content .business .business_content li:nth-child(3) {
  background: url(https://harimholdings.com/img/main/img_esg_01_3.png) no-repeat center / cover;
}
#content .business .business_content li a {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#content .business .business_content li a .desc {
  position: absolute;
  bottom: -135px;
  line-height: 1.2;
  transition: all 0.6s;
  color: #fff;
}
#content .business .business_content li a .desc em {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  transition: all 0.4s ease;
}
#content .business .business_content li a .desc h4 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-top: 20px;
}
#content .business .business_content li a .desc p {
  font-size: 1.25rem;
  line-height: 1.6;
  white-space: nowrap;
  margin-top: 30px;
  transition: all 0.4s ease;
}
#content .business .business_content li a .icon {
  height: 60px;
  position: absolute;
  right: -60px;
  bottom: 20px;
  transition: all 0.4s ease;
}
#content .business .business_content li:first-child,
#content .business .business_content li:last-child {
  transition: all 0.8s 0.1s ease, flex-grow 0.6s ease;
}
#content .business .business_content li:hover {
  flex-grow: 2.8935;
}
#content .business .business_content li:hover a .desc {
  bottom: calc(100% - 230px);
}
#content .business .business_content li:hover .desc,
#content .business .business_content li:hover .desc *,
#content .business .business_content li:hover .desc * {
  transition-delay: 0.1s;
}
#content .business .business_content li:hover .desc em {
  opacity: 0;
  transform: translateY(1000%);
  transition-delay: 0;
}
#content .business .business_content li:hover .icon {
  right: 20px;
  transition-delay: 0.28s;
}

.skill {
  width: 100%;
}

/* #content .skill .title {
  margin-bottom: 50px;
} */

.skill .skill_wrap {
  width: 100%;
  height: 700px;
  padding: 100px 0;
  background: #f8f8f8;
}

.skill .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  /* left: 50%;
  transform: translateX(-50%); */
}

.skill .container .menu {
  width: 30%;
}

.skill .container .menu .skill_list li {
  margin: 10px 0 0 0;
}
.skill .container .menu .skill_list li a {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
.skill .container .menu .skill_list li a:before {
  content: "";
  display: block;
  width: 0px;
  height: 4px;
  background-color: #ff3300;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translate(100%, -50%);
  transition: 0.4s ease-out;
}

.skill .container .menu .skill_list li a.active {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff3300;
}
.skill .container .menu .skill_list li a.active:before {
  width: 20px;
}
.skill .container .menu .skill_list li a i {
  font-size: 1.3rem;
  vertical-align: 3px;
}

.skill .container .items_wrap {
  position: relative;
  width: 70%;
  height: 700px;
}

.skill .container .items {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}
.skill .container .items > .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s 0.3s, opacity 0.3s ease;
}

.skill .container .items > .item.on {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.skill .container .items .item .bg {
  clip-path: inset(100% 0 0 0);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: clip-path 0.8s cubic-bezier(0.17, 0.96, 0.75, 1);
}
.skill .container .items .item.on .bg {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.8s cubic-bezier(0.17, 0.96, 0.75, 1);
}
.skill .container .items .item .bg img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
}

.skill .container .items .item .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 min(5.2083333333vw, 100px) min(3.125vw, 60px) min(5.2083333333vw, 100px);
  display: flex;
  justify-content: space-between;
  /* align-items: start; */
  align-items: flex-end;
  color: #fff;
  box-sizing: border-box;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.skill .container .items .item .desc p {
  overflow: hidden;
  position: relative;
}

.skill .container .items .item .desc p span {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 2.188rem;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.67, 0.11, 0.39, 0.97);
}

.skill .container .items .item .desc .paging {
  position: relative;
  display: flex;
  font-size: 1rem;
  align-items: flex-end;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.67, 0.11, 0.39, 0.97);
}
.skill .container .items .item .desc .paging em {
  visibility: hidden;
  margin: 0 15px;
}
.skill .container .items .item .desc .paging:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 10px);
  top: 50%;
}

.skill .container .items .item.on .desc {
  opacity: 1;
}

.skill .container .items .item.on .desc p span,
.skill .container .items .item.on .desc .paging {
  transform: translateY(0);
}

.investment {
  width: 1400px;
  margin: 0 auto;
}

.investment .container {
  display: flex;
  justify-content: space-between;
}
.investment .container .investment_left {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.investment .container .investment_left img {
  width: 100%;
  height: 697px;
  object-fit: cover;
}

.investment .container .investment_left p {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 1.3;
}
/* .investment .container .investment_left p strong {
  font-size: 6rem;
  display: block;
  color: #318fcb;
  margin-bottom: 10px;
} */

.investment .container .investment_right {
  display: flex;
  width: 50%;
  margin-left: 5px;
}
.investment .container .investment_right ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
}
.investment .container .investment_right ul li {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
  height: 341px;
  background: #f8f8f8;
  box-sizing: border-box;
}

.investment .container .investment_right ul li h4 {
  font-size: 2.5rem;
  font-weight: 700;
}

.investment .container .investment_right ul li a {
  position: relative;
  display: flex;
  width: 100%;
  height: 340px;
  padding: 30px;
  flex-direction: column;
  box-sizing: border-box;
  color: #000;
}
.investment .container .investment_right ul li a .text {
  margin: 40px 0 0 0;
  font-size: 1.5rem;
  line-height: 1.28;
}
.investment .container .investment_right ul li a .date {
  position: absolute;
  bottom: 28px;
  font-size: 1.2rem;
  color: #333;
}

.investment .container .investment_right ul li a i {
  /* margin-left: 200px; */
  position: absolute;
  right: 15px;
  bottom: 20px;
  font-size: 2.2rem;
}

.investment .container .investment_right ul li:hover a {
  transition: all 0.3s ease-in-out;
  color: #ff5f00;
}

.investment .container .investment_right .price {
  position: absolute;
  bottom: 20px;
}

.investment .container .investment_right .price span {
  display: block;
  font-family: "Noto Sans KR2";
  color: #318fcb;
  font-size: 1.3rem;
}

.investment .container .investment_right .price span:nth-child(2) {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #000;
}
.investment .container .investment_right ul li:nth-child(1) h4 {
  color: #000;
}

.investment .container .investment_right ul li .meeting {
  background: #2d90cf;
  color: #fff;
  font-size: 1.5rem;
}
.investment .container .investment_right ul li .meeting .date {
  color: #fff;
}

.investment .container .investment_right ul li:hover .meeting {
  background-color: #ff5f00;
}
.investment .container .investment_right ul li:hover .meeting * {
  color: #fff;
}

/* .investment .container .investment_right .account {
  font-size: 1.5rem;
  color: #000;
  position: relative;
}

.investment .container .investment_right .account p {
  color: #333;
  font-size: 1.2rem;
}

.investment .container .investment_right .meeting {
  display: flex;
  font-size: 1.5rem;
  color: #000;
  position: relative;
}

.investment .container .investment_right .meeting p {
  width: 150px;
  font-size: 1.2rem;
}

.investment .container .investment_right .letter {
  position: relative;
  display: flex;
}

.investment .container .investment_right .letter p {
  font-size: 1.2rem;
  width: 150px;
}

.investment .container .investment_right .letter h4 {
  color: #000;
}

.investment .container .investment_right .letter span {
  color: #000;
  font-size: 1.5rem;
} */

/* .investment 센션 hover 추가 */

#content .news {
  width: 1400px;
  margin: 70px auto;
  display: flex;
  gap: 50px;
  padding-top: 70px;
}

.news .title {
  width: 300px;
  margin-right: 80px;
  margin-bottom: 100px;
}
#content .news .title h3 {
  text-align: left;
}
#content .news .title p {
  text-align: justify;
  margin-bottom: 30px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.news .news_cover {
  display: flex;
  gap: 30px;
}
.news .news_cover img {
  width: 300px;
  height: 541px;
  object-fit: cover;
}

#content .news .news_cover li {
  width: 300px;
  height: 541px;
  position: relative;
  overflow: hidden;
}

#content .news_cover dl {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5rem;
}

#content .news .news_cover li:hover dl {
  bottom: 0;
  height: 100%;
  transition: all 0.3s ease-out;
}

#content .news_cover dt {
  width: 100%;
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  box-sizing: border-box;
}

#content .news .news_cover li:hover dt {
  padding-top: 50px;
}

#content .news_cover dd {
  opacity: 0;
  height: 80px;
  padding: 10px;
}

#content .news .news_cover li:hover dd {
  opacity: 1;
  /* background: rgba(0, 0, 0, 0.5); */
  height: 380px;
  font-size: 1rem;
  position: absolute;
  top: 140px;
  text-align: justify;
  margin-top: 50px;
}

#content .recruit .hiring {
  background: url(../images/recruit2.jpg) 0 0;
  width: 2000px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#content .recruit .hiring img {
  width: 100%;
  height: 800px;
}
#content .recruit .hiring .link_box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#content .recruit .hiring .link_box a {
  text-align: center;
  line-height: 50px;
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
  border: 1px solid red;
}

#content .recruit .hiring .link_box a:nth-child(1) {
  margin-right: 30px;
}
