.content_area {
  width: 1400px;

  margin: 0 auto;
}

.content_area .map_address1 {
  margin-bottom: 100px;
}
.content_area .map_address1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.content_area .map_address1 ul li:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
}
.content_area .map_address1 ul li:nth-child(1) span {
  font-size: 2.7rem;
  color: #3366cc;
  font-family: "Roboto", sans-serif;
}
.content_area .map_address1 ul li:nth-child(2) {
  font-size: 1.5rem;
}
.content_area .map_address1 ul li .address {
  margin-right: 20px;
  font-weight: 500;
}
.content_area .map_box {
  width: 1400px;
  height: 500px;
  border: 1px solid #eee;
}
.content_area .map_box #map {
  width: 1400px;
  height: 500px;
}
.content_area .map_grounds {
  height: 600px;
}
.content_area .map_inner {
  margin-top: 100px;
}
.content_area .map_content1 {
  float: left;
}
.content_area .map_content1 li {
  position: relative;
}
.content_area .map_content1 dl {
  padding: 0 20px;
  margin-bottom: 70px;
}
.content_area .map_content1 p {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 70px;
  transform: translate(20px);
}
.content_area .map_content1 p::before {
  content: "";
  display: block;
  background: #eee;
  width: 340px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 70px;
}
.content_area .map_content1 p::after {
  content: "";
  display: block;
  background: #eee;
  width: 340px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 280px;
}
.content_area .map_content1 .map_info1 dt {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.content_area .map_content1 .map_info1 dd {
  font-size: 1.1rem;
}
.content_area .map_content1 .map_info2 {
  margin-top: 120px;
}
.content_area .map_content1 .map_info2 dt {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.content_area .map_content1 .map_info2 dd {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.content_area .map_content2 {
  float: right;
  margin-right: 410px;
}
.content_area .map_content2 li {
  position: relative;
}
.content_area .map_content2 p {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 70px;
  transform: translate(20px);
}
.content_area .map_content2 p::after {
  content: "";
  display: block;
  background: #eee;
  width: 340px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 70px;
}
.content_area .map_content2 dl {
  padding: 0 20px;
}
.content_area .map_content2 dt {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.content_area .map_content2 dd {
  font-size: 1.1rem;
  margin-bottom: 50px;
}
.content_area .map_address2 {
  margin-bottom: 100px;
}
.content_area .map_address2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.content_area .map_address2 ul li:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.content_area .map_address2 ul li:nth-child(1) span {
  font-size: 2.7rem;
  color: #3366cc;
  font-family: "Roboto", sans-serif;
}
.content_area .map_address2 ul li:nth-child(2) {
  font-size: 1.5rem;
  display: flex;
}
.content_area .map_address2 ul li .address {
  margin-right: 20px;
  font-weight: 500;
}

/* #content {
  overflow: hidden;
  width: 100%;
}
#content .title_area {
  width: 1400px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#content .title_area .line_map {
  position: absolute;
  right: 15px;
  top: 20px;
}
#content .title_area h2 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 150px 0 30px;
}
#content .title_area p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 100px;
}

#content .title_area p::after {
  content: "";
  display: block;
  background: #318fcb;
  width: 3px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 450px;
}

#content .content_area {
  margin: 0 auto;
  padding-top: 50px;
}
#content .content_area .content_top {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
}

#content .content_area .content_top .content_top_left {
  display: flex;
  flex-direction: column;
}

#content .content_area .content_top .content_top_left h4 {
  font-size: 2rem;
  font-weight: normal;
}

#content .content_area .content_top .content_top_left p {
  font-size: 3rem;
  text-align: left;
  margin-top: 50px;
  font-weight: 500;
}

#content .content_area .content_top .content_top_right {
  width: 600px;
  height: 500px;
  background: red;
  margin: 0 0 100px 50px;
}

#content .content_area .content_top .content_top_right img {
  width: 600px;
  height: 500px;
}

#content .content_bottom {
  display: flex;
  width: 1400px;
  height: 400px;
  flex-direction: column;
  margin: 0 auto;
}
#content .content_bottom h4 {
  font-size: 2rem;
  font-weight: normal;
}

#content .content_bottom ul {
  display: flex;
  justify-content: space-between;
}

#content .content_bottom ul li {
  display: flex;
  width: 300px;
  height: 250px;
  background: #f5f5f5;
  border-radius: 20px;
  font-size: 2.5rem;
  color: #425ae3;
  margin-top: 50px;
  font-weight: 900;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#content .content_area_bottom {
  width: 1400px;
  margin: 100px auto;
}

#content .content_area_bottom ul {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-around;
}

#content .content_area_bottom ul li {
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px dashed #ccc;
}

#content .content_area_bottom ul li:nth-of-type(3) img {
  width: 120px;
  height: 120px;
}

#content .content_area_bottom ul li:nth-of-type(4) {
  border-right: none;
  padding-right: 0;
}

#content .content_area_bottom ul li img {
  margin: 0 0 20px 0;
}

#content .content_area_bottom ul li dl dt {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#content .content_area_bottom ul li dl dd {
  text-align: center;
} */
