@charset "utf-8";

#content {
  /* margin: 0 auto; */
  overflow: hidden;
  /* color: #fff; */
  width: 100%;
}
#content .title_area {
  width: 1400px;
  height: 700px;
  margin: 0 auto;
  /* background: pink; */
  position: relative;
  overflow: hidden;
}
#content .title_area .line_map {
  position: absolute;
  right: 15px;
  top: 20px;
  color: #fff;
}
#content .title_area h2 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 150px 0 30px;
}
#content .title_area p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 100px;
}

#content .title_area p::after {
  content: "";
  display: block;
  background: #318fcb;
  width: 3px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 450px;
}

#content .content_area {
  width: 2000px;
  /* color: #fff; */
  /* background: linear-gradient(180deg, #121212 0%, #425ae3 100%); */
  margin: 0 auto;
  padding-top: 50px;
}
#content .content_area .content_top {
  /* display: flex; */
  width: 1600px;
  margin: 0 auto;
}

#content .content_area .content_top .content_top_left {
  display: flex;
  flex-direction: column;
  width: 1400px;
  /* gap: 200px; */
}

#content .content_area .content_top .content_top_left .content_greeting {
  display: flex;
}

#content .content_area .content_top .content_top_left .content_greeting p {
  font-size: 1.4rem;
  width: 700px;
  line-height: 2.4rem;
}

#content .content_area .content_top .content_top_left h4 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 200px;
  color: #222;
  position: relative;
}

#content .content_area .content_top .content_top_left h4::before {
  content: "\201C";
  position: absolute;
  top: -64px;
  color: #107af2;
  line-height: 72px;
}

#content .content_area .content_top .content_top_left p {
  font-size: 2rem;
  text-align: left;
  font-weight: 500;
  margin-bottom: 50px;
  color: #464a4e;
}

#content .content_area .content_top .content_top_left strong {
  color: #222;
  margin-bottom: 200px;
}

#content .content_area .content_top .content_top_right {
  width: 700px;
  height: 500px;
  transform: translateX(-70px);
  /* background: red; */
  /* margin: 0 0 100px 50px; */
}

#content .content_area .content_top .content_top_right img {
  width: 700px;
  /* height: 00px; */
}

#content .content_bottom {
  display: flex;
  width: 1400px;
  height: 400px;
  flex-direction: column;
  margin: 0 auto;
}
#content .content_bottom h4 {
  font-size: 2rem;
  font-weight: normal;
}

#content .content_bottom ul {
  display: flex;
  justify-content: space-between;
}

#content .content_bottom ul li {
  display: flex;
  width: 300px;
  height: 250px;
  background: #f5f5f5;
  border-radius: 20px;
  /* color: #425ae3; */
  font-size: 2.5rem;
  color: #425ae3;
  margin-top: 50px;
  font-weight: 900;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  /* box-shadow: 10px 5px 5px #333; */
}

#content .content_area_bottom {
  width: 1400px;
  margin: 100px auto;
}

#content .content_area_bottom ul {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  justify-content: space-around;
}

#content .content_area_bottom ul li {
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px dashed #ccc;
}

#content .content_area_bottom ul li:nth-of-type(3) img {
  width: 120px;
  height: 120px;
}

#content .content_area_bottom ul li:nth-of-type(4) {
  border-right: none;
  padding-right: 0;
}

/* #content .content_area_bottom ul li dl {
  margin-top: 30px;
} */

#content .content_area_bottom ul li img {
  margin: 0 0 20px 0;
}

#content .content_area_bottom ul li dl dt {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

#content .content_area_bottom ul li dl dd {
  text-align: center;
}
