.content_area {
  width: 1400px;
  margin: 0 auto;
}

.content_area .map_address1 {
  margin-bottom: 100px;
}
.content_area .map_address1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.content_area .map_address1 ul li:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
}
.content_area .map_address1 ul li:nth-child(1) span {
  font-size: 2.7rem;
  color: #037afe;
  font-family: 'Roboto', sans-serif;
}
.content_area .map_address1 ul li:nth-child(2) {
  font-size: 1.5rem;
}
.content_area .map_address1 ul li .address {
  margin-right: 20px;
  font-weight: 500;
}
.content_area .map_box {
  width: 1400px;
  height: 500px;
  border: 1px solid #eee;
}
.content_area .map_box #map {
  width: 1400px;
  height: 500px;
}
.content_area .map_grounds {
  height: 600px;
}
.content_area .map_inner {
  margin-top: 100px;
}
.content_area .map_content1 {
  float: left;
}
.content_area .map_content1 li {
  position: relative;
}
.content_area .map_content1 dl {
  padding: 0 20px;
  margin-bottom: 70px;
}
.content_area .map_content1 p {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 70px;
  transform: translate(20px);
}
.content_area .map_content1 p::before {
  content: '';
  display: block;
  background: #eee;
  width: 340px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 70px;
}
.content_area .map_content1 p::after {
  content: '';
  display: block;
  background: #eee;
  width: 340px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 280px;
}
.content_area .map_content1 .map_info1 dt {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.content_area .map_content1 .map_info1 dd {
  font-size: 1.1rem;
}
.content_area .map_content1 .map_info2 {
  margin-top: 120px;
}
.content_area .map_content1 .map_info2 dt {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.content_area .map_content1 .map_info2 dd {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.content_area .map_content2 {
  float: right;
  margin-right: 410px;
}
.content_area .map_content2 li {
  position: relative;
}
.content_area .map_content2 p {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 70px;
  transform: translate(20px);
}
.content_area .map_content2 p::after {
  content: '';
  display: block;
  background: #eee;
  width: 340px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 70px;
}
.content_area .map_content2 dl {
  padding: 0 20px;
}
.content_area .map_content2 dt {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.content_area .map_content2 dd {
  font-size: 1.1rem;
  margin-bottom: 50px;
}
.content_area .map_address2 {
  margin-bottom: 100px;
}
.content_area .map_address2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.content_area .map_address2 ul li:nth-child(1) {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.content_area .map_address2 ul li:nth-child(1) span {
  font-size: 2.7rem;
  color: #037afe;
  font-family: 'Roboto', sans-serif;
}
.content_area .map_address2 ul li:nth-child(2) {
  font-size: 1.5rem;
  display: flex;
}
.content_area .map_address2 ul li .address {
  margin-right: 20px;
  font-weight: 500;
}
